---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { getEntry, render } from "astro:content";
import Prose from "../../components/Prose.astro";
import SectionBlock from "../../components/blocks/SectionBlock.astro";

export function getStaticPaths() {
  return [
    { params: { service: "asset-protection" } },
    { params: { service: "tax-and-compliance" } },
    { params: { service: "performance-catchups" } },
  ];
}

const { service } = Astro.params;

const serviceData = await getEntry("services", service);
if (!serviceData) {
  // Handle Error, for example:
  throw new Error("Could not find service.");
}

const { Content } = await render(serviceData);
---

<Layout title={serviceData.data.title}>
  <SectionBlock heading={serviceData.data.title}>
    <div class="mx-auto">
      <Prose>
        <Content />
      </Prose>
    </div>
  </SectionBlock>
</Layout>
