@import "tailwindcss";
@plugin "daisyui" {
  themes: lemonade --default;
}
@plugin "daisyui/theme" {
  name: "lemonade";
  default: true;
  --color-primary: #003417;
  --color-secondary: #8c5c34;
  --color-accent: #ea7600;
}
