---
import "../styles/global.css";

import config from "../config.json";
const { title } = Astro.props;

import Nav from "../components/Nav";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={config.description} />
    <title>{title}</title>
  </head>
  <body>
    <Nav isAbsolute />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
